

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  height: 100%;
  width: 100%;
  min-width: 450px;
  color: #519975;
  /*background: #211D1B;*/
  background: #000000;
  font-family: cursor, monospace;
  overflow-x: hidden;
  transform: scale(0.8);
  transform-origin: 0 0;
  
}
::selection {
  color: #211830;
  background-color: #519975;
}
::-moz-selection {
  color: #211830;
  background-color: #519975;
}
textarea {
  left: -1000px;
  position: relative;
}
b {
  font-weight: bold;
  text-decoration: underline;
}
/* Cursor Start */
.cursor {
  font-size: 12px;
  color: #73ABAD;
  /*background-color: #73ABAD;*/
  background-color: #000000;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #73ABAD;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #519975;
  content: "guest@moosh.gg:~$";
}
#liner.password::before {
  content: "Password:";
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #DCDCCC;
}
.color2 {
  /*color: #B89076; */
  color: #2D46E8
}
.command {
  color: #73ABAD;
  text-shadow: 0 0 5px #73ABAD; 
}
.error {
  color: #B89076;
}
.white {
  color: #fff;
}
.inherit,
a {
  color: #9C8394;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #73ABAD;
  color: #211830;
}
a:focus {
  outline: 0;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #73ABAD;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #2D46E8;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.logo {
    margin-top: 5px;
}

.logo img {
    height : 30%;
    width : 30%;
}